﻿.header {
    font-size: 10px;
    margin-left: 100px;
    margin-top: 50px;
    opacity: 0.1; position:fixed; z-index:-999;
    color: #fff;
}
.Navigate_Menu {
    background-color: rgba(255,255,255,0.1);
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
    margin: 20px;
    float: left;
    /*position:fixed;*/
}
.Navigate_Menu * {
    padding: 15px 30px;
    cursor: pointer; 
}
.Navigate_Menu>*:first-child {
    font-size: 28px; font-weight:800;
}
.Navigate_Menu>*:last-child {
    padding:0px; height:0px;
}
.Navigate_Menu .menusplit{
    padding:1px; margin:7px 0px;
    background:rgba(0,0,0,0.2); 
    cursor:default;
}
.Navigate_Menu *:hover {
    background-color: rgba(255,255,255,0.7);
    color: #23ba87;
}
.Navigate_Menu .menusplit:hover {
    background:rgba(0,0,0,0.2); 
    color: #23ba87;
}
.panel_Content {
    float: left;
    border-top:2px solid rgba(255,255,255,0.7);
    margin: 20px; margin-left:0px;
    display: block;
    margin-top:95px;
    position:fixed; overflow:auto;
}
#ReloadBtn{
    float:right;vertical-align:middle; height:64px; width:64px; margin:2px;
}
#Html_MainContent{
    background-color: rgba(255,255,255,0.2);
    padding:20px; 
}
.panle_NavigateBar
{
    position:fixed; top:20px; background:rgba(255,255,255,0.5); height:68px; overflow:hidden;
}
.panle_NavigateBar #SystemTime{
    display:inline-block; padding-left:30px; font-size:25px; font-weight:700; line-height:68px;
}