﻿@{
    ViewBag.Title = "Quick Shopping Store";
}
<header class="header">Quick Shopping Store</header>

<!--导航菜单-->
<ul class="Navigate_Menu">
    <li data-controler="store" data-action="home">🔍 Home</li>
    <li class="menusplit"></li>
    <li data-controler="store" data-action="Store">🍱 Store</li>
    <li data-controler="store" data-action="Map">🔘 Nearby</li>
    <li data-controler="store" data-action="Cart">🏬 Cart</li>
    <li data-controler="store" data-action="Cart">💰 Funds</li>
    <li data-controler="Account" data-action="Login">👨 Login</li>
    <li data-controler="store" data-action="Cart">💬 Message</li>
    <li data-controler="M" data-action="Index">🔧 Manager</li>
    <li data-controler="More" data-action="Index">🌏 More</li>
    <li class="menusplit"></li>
    <li data-controler="Other" data-action="About">❓ About</li>
    <li style="clear:both;"></li>
</ul>

<div class="panle_NavigateBar">
    <datetime id="SystemTime" class="SystemTime">Page loading, please wait...</datetime>
    <img src="~/Content/appbar.refresh.svg" id="ReloadBtn" /><!--刷新按钮-->
</div>

<!--分页显示位置-->
<div class="panel_Content" style="position:fixed;">
    <div id="Html_MainContent">
        @{
            Html.RenderAction("Start_V1000");
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.8.2.js"></script>
<link href="~/Content/Global/Start.css" rel="stylesheet" />
<script src="~/Content/Global/Start.js"></script>
