﻿@{
    ViewBag.Title = "Start_V1000";
}

<h2>@ViewBag.Title</h2>
<div>You recommend the hot new products｜为您推荐热门新商品</div>
<br />
    Last Update Time: @( DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))
<br />

