﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <style>
        * {
        font-family: 'Microsoft YaHei';
        color: #fff;
        }
        body, input {
        background-color: #23ba87;
        }

        body {
        margin: 0px;
        padding: 0px;
        }

        input, select {
        border: #04ffaa;
        padding: 10px 5px;
        font-size: 13px;
        font-weight: 600;
        margin: 5px;
        }

        select, input[type=text], input[type=search],input[type=email], input[type=number], input[type=url], input[type=tel], input[type=date], input[type=password] {
        width: 280px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        }

        input[type=submit], input[type=button], input[type=reset] {
        font-weight: 900;
        }

        input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
            color: #04ffaa;
            cursor: pointer;
        }

        .button {
        width: 290px;
        border: 1px solid rgba(255,255,255,0.5);
        }

        select, option {
        background: rgba(255,255,255,0.5);
        color: #23ba87;
        }

        a {
        font-weight: 600;
        display: inline-block;
        padding: 2px;
        }

        a:hover {
            font-weight: 600;
            display: inline-block;
            padding: 2px;
        }

        hr {
        border: none;
        height: 1px;
        background: rgba(255,255,255,0.8);
        padding: 0px;
        margin: 3px 0px;
        }
    </style>
</body>
</html>
